# ===================================================================
# xNormalBatchBaker requirements file
# ===================================================================
# coveralls==1.8.2; python_version>='3.6'
# coveralls==1.9.2; python_version<'3.6'
# coveralls
# tpPyUtils
# tpDccLib
# tpQtLib
git+https://github.com/orangeduck/Python-xNormal/blob/master/dist/xNormal-1.1.0.tar.gz
