# ===================================================================
# xNormalBatchBaker requirements file
# ===================================================================
coveralls==1.8.2; python_version>='3.6'
coveralls==1.9.2; python_version<'3.6'
comtypes
tpPyUtils
tpDccLib
tpQtLib